html{
    box-sizing: border-box;
}

*,
*::before,
*:after{
    box-sizing: inherit;
}


section {
    width:  250px;
    height: 250px;
    border: dotted;
    border-color: green;
}

p {
    width: 100%;
    border: solid;
    border-color: blue;
    padding: 20px;
}

